<a href="https://colab.research.google.com/github/jxr4276/Bte-320-in-class-assignments-/blob/main/In_ClassAssignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
p = 3.14
h = 10
r = 3

area = 2*p*r**2 + 2*p*r*h
print( area)

244.92000000000002

In [2]:
#Shape Area Calc
pi = 3.14
r = float(input("Provide a value for the radius (in ft): "))
c = float(input("Provide value for side of sq:"))
shape = 'circle'

if shape == 'circle':
  area = pi * r ** 2
  print(f'Area is {area} sq ft.')
elif shape == 'sq':
  area = c ** 2
  print(f'Area is {area} sq ft.')
elif shape == 'triangle':
  area = .5 * c * h
  print(f'Area is {area} sq ft.')
else:
  area = 2 * pi * r * h + 2 * pi * r ** 2
  print(f'Area is {area} sq ft.')

print('Program ends...')

Provide a value for the radius (in ft): 2
Provide value for side of sq:2
Area is 12.56 sq ft.
Program ends...

In [6]:
#Numerical calc

n1=float(input("choose 1"))
n2=float(input("choose 2"))
symbol= input("choose operation")
if symbol== "+":
  print(n1+n2)
elif symbol== "-":
  print(n1-n2)
elif symbol=="*":
  print(n1*n2)
elif symbol=="/":
    print(n1/n2)
elif symbol=="**":
  print(n1**n2)

choose 11
choose 21
choose operation*
1.0

Spet 12th
Start - Nstep> Stop
range ( 20,5,-5) Middle is the stop value 20-5=15

In [ ]:
for i in range (0,11,2):
  print(i, end= ' ')

0 2 4 6 8 10

if u want it ti stop at 10 +1 to 11 so it cound zero as an integer
end paramater is the last chaarcter displayed on the screen.

In [ ]:
while 1 < 2:
  print('Hi')

In [ ]:
currentlyPlaying = input("Would you like to play a Game (Yes/No)")

while currentlyPlaying == "Yes":
  P1= input("Choose Rock, Paper, or Scissors")
  P2= input("Choose Rock, Paper, or Scissors")

  if ( P1== P2):
    print ("Tie")

  elif (P1== "Paper" and P2== "Rock"):
    print ("Player 1 wins")

  elif ( P1== "Scissors" and P2== "Paper"):
    print( " Player 1 wins ")

  elif (P1== "Rock" and P2== "Scissors"):
    print("Player 1 wins")

  else:
    print ("Player 2 wins")
  currentlyPlaying = input("Would you like to play a Game ( Yes/No)")

Would you like to play a Game (Yes/No)Yes
Choose Rock, Paper, or ScissorsPaper
Choose Rock, Paper, or ScissorsRock
Player 1 wins
Would you like to play a Game ( Yes/No)NO

In [ ]:
ticketPrice = 10
fixedCost = 200
standardAttendees = 20

for ad in range(0, 201, 25):
    profit = ticketPrice * (standardAttendees + 2 * ad ** 0.5) - fixedCost - ad
    print(ad, profit)

0 0.0
25 75.0
50 91.42135623730951
75 98.20508075688781
100 100.0
125 98.60679774997897
150 94.94897427831779
175 89.57513110645903
200 82.84271247461902

Movie Theatre Problem

Need dictionary In class Assingment

In [7]:
def range_check(number, low, high):
    if low <= number <= high:
        print(f"{number} is in the range between {low} and {high}")
    else:
        print(f"{number} is NOT in the range between {low} and {high}")

In [ ]:
def calcfee(hours):
    fee = 5 + hours * 2.5
    return fee

h = int( input ("enter hours"))
fee = calcfee(h)
print(fee)

enter hours4
15.0

In [ ]:
def calcfee(hours, decimals=2):
    fee = 5 + hours * 2.5
    fee = round(fee, decimals)
    return fee

def displayfee(fee):
    print(f"fee is {fee}")

h = int(input("Enter hours: "))
fee = calcfee(h)
displayfee(fee)

Enter hours: 5
fee is 17.5

In [ ]:
class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number

s1 = Student("James Bond", '007')
s2 = Student("Clark Kent", '333')

In [ ]:
s1.name

'James Bond'

In [ ]:
s1.number

'007'

In [ ]:
#Months2Numbers dictionary
months = {}

names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for i in range(len(numbers)):
  months[numbers[i]] = names[i]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [ ]:
def range_check(number, low, high):
  if low<= number <= high:
    print(f'{number} is in the range between {low} and {high}')
  else:
    print(f'{number} is NOT in the range betweeen {low} and {high}')

In [ ]:
def calcfee(hours):
  fee = 5 + hours * 2.5
  return fee

h = int(input("enter hours"))
fee = calcfee(h)
print(fee)

enter hours2
10.0

In [ ]:
#Reverse Function
def reverse_string(s):
    if len(s) <= 1:
        return s
    else:
        return reverse_string(s[1:]) + s[0]

print(reverse_string("Hello, World!"))

!dlroW ,olleH

In [ ]:
def wAvg(L, w):
  try:
    res = []
    for i in range (len(L)):
      res.append(L[i] * w[i])
    return sum(res) / sum(w)
  except ZeroDivisionError:
    print("Can't division by Zero.")
    return []
  except TypeError:
    print("Wrong object type. ")
    return []
  except Exception as e:
    print(f"Unknown Error: {e}")
    return float ('nan')

wAvg([1,2,3], [.1,.3,.4])

2.375

In [ ]:
#NumericalCalculator
print ("Welcome to the Calculator")

  #Request Inputs
num1 = float(input("Please input 1 number here: "))
operatorSymbol = (input("Please input a mathmatical operation (+, -, *, /, **): "))
num2 = float(input("Please input 2 number here: "))

if operatorSymbol == '*':
    num1*num2
elif operatorSymbol == '/':
    num1/num2
elif operatorSymbol == '+':
    num1+num2
elif operatorSymbol == '-':
    num1-num2
else:
  operatorSymbol == '**'
  num1**num2

print(f'Your calculation equals: {operatorSymbol}')

Welcome to the Calculator
Please input 1 number here: 1
Please input a mathmatical operation (+, -, *, /, **): *
Please input 2 number here: 2
Your calculation equals: *

In [ ]:
#Parking Garage
flatRate = 5

hourlyRate = 2.5



for h in range(1, 9):

  charge = flatRate + hourlyRate * h

  if charge < 10:

    charge = 10

  elif charge > 20:

    charge = 20

  print(h, charge)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20